
<div class="d-flex flex-column justify-content-center align-items-center" id="order-heading">
    <div class="text-uppercase">
        <p>Détails de la commande</p>
    </div>
    <div class="h4">{{maDate | date:'dd MMMM yyyy'}}</div>
    
    <!-- <div class="pt-1">
        <p>Votre commande<b class="text-dark"> informations</b></p>
    </div> -->
    <!-- <div class="btn close text-white">
        &times;
    </div> -->
</div>
<div class="wrapper bg-white">
    <div class="table-responsive">
        <table class="table table-borderless">
            <!-- <thead>
                <tr class="text-uppercase text-muted">
                    <th scope="col">Produits</th>
                    <th scope="col" class="text-right">total</th>
                </tr>
            </thead> -->
            <thead>
                <tr>
                    <th scope="row">Image</th>
                    <th scope="row">Nom</th>
                    <th scope="row">Quantité</th>
                    <td class="text-right"><b>Prix</b></td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="d-flex justify-content-start align-items-center list py-1">
        <!-- <div><b>1px</b></div> -->
        <div class="mx-3">
            <img src="https://images.pexels.com/photos/206959/pexels-photo-206959.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="apple" class="rounded-circle" width="30" height="30">
        </div>
        <div class="order-item">Apple</div>
    </div>
    <div class="d-flex justify-content-start align-items-center list my-2 py-1">
        <!-- <div><b>4px</b></div> -->
        <div class="mx-3">
            <img src="https://images.unsplash.com/photo-1602081593819-65e7a8cee0dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt="apple" class="rounded-circle" width="30" height="30">
        </div>
        <div class="order-item">Mango</div>
    </div>
    <div class="d-flex justify-content-start align-items-center list my-2 py-1">
        <!-- <div><b>2px</b></div> -->
        <div class="mx-3">
            <img src="https://images.unsplash.com/photo-1584183187885-071d53d42531?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="apple" class="rounded-circle" width="30" height="30">
        </div>
        <div class="order-item">Carrot Apple Ginger</div>
    </div>
    <div class="d-flex justify-content-start align-items-center list my-2 py-1">
        <!-- <div><b>3px</b></div> -->
        <div class="mx-3">
            <img src="https://images.unsplash.com/photo-1602096934878-5028bf10ca50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="apple" class="rounded-circle" width="30" height="30">
        </div>
        <div class="order-item">Pear</div>
    </div>
    <div class="pt-2 border-bottom mb-3"></div>
    
    <div class="d-flex justify-content-start align-items-center pl-3 py-3 mb-4 border-bottom">
        <div class="text-muted">
            Total
        </div>
        <div class="ml-auto h5">
            34.94€
        </div>
    </div>
    <div class="row border rounded p-1 my-3">
        <p style="text-align:center;"><b>Information de Facturation</b></p>
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column align-items start">
                <b>Votre prénom</b>
                <input type="text" class="form-control" name="firstName"
							placeholder="Entrer votre prénom" ngModel
                            #firstnameInput="ngModel" required>
            </div>
            <br>
            <div class="d-flex flex-column align-items start">
                <b>Adresse</b>
                <input type="text" class="form-control" name="adresse"
							placeholder="Entrer votre adresse" ngModel
                            #adresseInput="ngModel" required>
            </div>
            <br>
            <div class="d-flex flex-column align-items start">
                <b>Pays</b>
                <input type="text" class="form-control" name="pays"
							placeholder="Entrer votre pays" ngModel
                            #paysInput="ngModel" required>
            </div>
            <br>
            <label for="delivery-time">Choisir la date de retrait de votre commande: (obligatoirement J+7)</label>
            <input id="delivery-time" type="datetime-local" name="deliverydate" value="2022-07-13T08:30">
            <!-- <div class="d-flex flex-column align-items start">
                <b>Adresse de Facturation</b>
                <p class="text-justify pt-2">1 rue des Roses</p>
                <p class="text-justify">Champs sur Marne</p>
            </div> -->
            
        </div>
        <div class="col-md-6 py-3">
            <div class="d-flex flex-column align-items start">
                <b>Votre nom</b>
                <input type="text" class="form-control" name="lastName"
							placeholder="Entrer votre nom" ngModel
                            #lastnameInput="ngModel" required>
            </div>
            <br>
            <div class="d-flex flex-column align-items start">
                <b>Ville</b>
                <input type="text" class="form-control" name="ville"
							placeholder="Entrer votre ville" ngModel
                            #villeInput="ngModel" required>
            </div>
            <br>
            <div class="d-flex flex-column align-items start">
                <b>Numéro portable</b>
                <input type="text" class="form-control" name="mobilNumber"
							placeholder="Entrer votre numéro portable" ngModel
                            #mobilNumberInput="ngModel" required>
            </div>
            <br>
            <!-- <div class="d-flex flex-column align-items start">
                <b>Adresse de livraison</b>
                <p class="text-justify pt-2">1 rue des Roses</p>
                <p class="text-justify">Champs sur Marne</p>
            </div> -->
        </div>
    </div>

    <button (click)="pay(10)" class="btn btn-success btn-block btn-info">Payer</button>
    <br>
    <!-- <div class="pl-3 font-weight-bold">Related Subsriptions</div>
    <div class="d-sm-flex justify-content-between rounded my-3 subscriptions">
        <div>
            <b>#9632</b>
        </div>
        <div>May 22, 2017</div>
        <div>Status: Processing</div>
        <div>
            Total: <b> $68.8 for 10 items</b>
        </div>
    </div> -->
</div>





<!-- <div>
    <h2>Checkout now</h2>
    <div class="row mt-5">
        <div class="col-md-4">
            <button (click)="pay(10)" class="btn btn-primary btn-block">Payer</button>
        
        </div>
    </div>
    <p class="mt-5">
        Paiment  carte       
    </p>
</div> -->
