@charset "UTF-8";
.hero {
  background-color: #ff8080;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/laboPatisserie.jpg);
  background-position: cover;
/*   background-size: cover; */
  background-size: contain;
	background-repeat: no-repeat;
  color: #ffffff;
  padding: 10em;
  text-align: center;
}