@charset "UTF-8"; 
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap'); 


        
        .card-text{
            padding: 2% 7%;
            color: #d2b48c;
            background-color: (255, 135, 135);
           
        }
        
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        ul >li{
            padding: 4px;
        }
        
        ul > li:hover{
            color:#957bda;
            cursor: pointer;
        }
        
        hr{
            border-width: 3px;
        }
        

        .heading{
            font-family: 'Titillium Web', sans-serif;
/*             color: white; */
            color: black;
        }
        
        .divider{
            border-top: 2px solid rgba(189, 196, 203, 0.5);;
        }