@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css';
@import 'https://use.fontawesome.com/releases/v5.8.1/css/all.css';
@import "~angular-notifier/styles";

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #FF9999;
}

a.nav-item.nav-link.active.ml-3{
    float:right;
}

/* .modal {
	display: block;
	} */

/* style for usermanagement */
td {
	cursor: pointer;
  }
  .move-right {
	  position: absolute;
	  right: 0;
	}
  
	.move-left {
	  position: absolute;
	  left: 0;
	}
  
	.btn-file {
	  position: relative;
	  overflow: hidden;
	}
	.btn-file input[type=file] {
	  position: absolute;
	  top: 0;
	  right: 0;
	  min-width: 100%;
	  min-height: 100%;
	  font-size: 100px;
	  text-align: right;
	  filter: alpha(opacity=0);
	  opacity: 0;
	  outline: none;
	  background: white;
	  cursor: inherit;
	  display: block;
	}

  
