body {
	background: url(../images/hotel_georgesV_chambre.jpg);
	/*    background-size: 100%;
 */
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 18em;
}

.button {
	background-image: linear-gradient(to right, #bfa65f 0%, #EAECC6 51%, #bfa65f 100%);
	font-family: Germania;
	color: black;
	font-weight: bold;
	font-family: Germania;
	width: 10em;
}

.button:hover {
	color: black;
	transition: 0.2s;
	background-image: linear-gradient(to right, #EAECC6 0%, #bfa65f 51%, #EAECC6 100%);
}

.child-left {
	float: left;
}

.child-right {
	margin-left: 20px;
}

.col-left {
	width: 50%;
	display: inline-block;
	padding-right: 5px;
}

.col-right {
	width: 50%;
	float: right;
	padding-left: 5px
}

.clearBtn {
	position: absolute;
	top: 0;
	right: -15px;
	transition: right 0.2s;
}

.container-css-1 {
	size: 100%; 
	display: flex; 
}
.container-css-2 {
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.50); 
	text-align: center; 
	padding-left: 40px; 
	padding-right: 40px; 
	border: solid 1px white;
	margin-right: auto;
	margin-left: auto;
}

.container-title {
	text-align: center
}

.container-footer {
	margin-top: 40px
}


.pdt-20 {
	padding-top: 20px
}

.pdt-30 {
	padding-top: 30px
}

.text-black {
	font-family: Germania;
	color: black;
	font-weight: bold;
}

.text-link-gold {
	color: #bfa65f;
}

.text-link-gold:hover {
	color: white;
}

.text-grey {
	color: #d4d4d4;
}

.text-white {
	color: white;
	font-weight: normal;
}

.text-germania-gold {
	color: #bfa65f;
	font-family: Germania;
}

.text-germania-grey {
	color: #d4d4d4;
	font-family: Germania;
}

.text-germania-white {
	color: white;
	/* Gold color
 	color: #bfa65f;  */
	font-family: Germania;
}

.title-germania-gold {
	background: linear-gradient(to left, #EAECC6, #bfa65f, #EAECC6);
	font-family: Germania;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block
}

.show {
	right: 5px;
}