<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="../../assets/RATP.svg.png" alt="logo"/>
      </div>
      <div></div>
    </div>
  
  
    <h1>Se Connecter</h1>
    <p>Connectez-vous pour découvrir<br />les nouvelles fonctionnalites</p>
    </div>
  
  <div class="wrapper">
      <ion-card class="form-wrapper">
        <ion-card-content>
          <ion-button expand ="block" routerLink="/login" class="ion-margin-bottom">Se connecter</ion-button>
          <ion-button expand ="block" routerLink="/register" fill="outline">S'inscrire</ion-button>
         </ion-card-content>
      </ion-card>
  
      <div class="line-text">
        <span class="lines"></span>
        <span class="text"> Se connecter autrement</span>
      </div>
  
  <ion-card class="social-wrapper">
    <ion-card-content>
      <div class="socials">
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-tw">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
        <ion-button class="btn-ph">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
    </div>
  </ion-content>