<div class="card-top container-fluid">
    <div class="contenair d-flex">
        <div class="item">
        <a>
            <img style="width:62px; margin-top:5px;" src="http://localhost:8087/image/23..jpg.jpg" alt="" >
            <h6>Tous les produits</h6>
        </a>
        </div>
        <div class="item">
            <a>
                <img style="width:62px; margin-top:5px;" src="http://localhost:8087/image/5..jpg.jpg" alt="" >
                <h6>Sac a main </h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img style="width:62px; margin-top:5px;" src="http://localhost:8087/image/19..jpg.jpg" alt="" >
                <h6>Sac bandoulière</h6>
            </a>
        </div>
    </div>
    </div>
    <div class="contenair">
        <div class="row">
     <ng-container *ngFor=" let item of productList">
        <div class="card col-md-2">
            <img src="http://localhost:8087/{{item.image}}" alt="">
            <h3>{{item.reference}}</h3>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.descriptif}}</p>
            <p>{{item.prixVente}}€</p>
            <button class="btn btn-outline-light" style="background:#FF9999" (click)=addtocart(item) >add to cart</button>

        </div>
     </ng-container>
        </div>
        
</div>
